body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#display {
    border-style: solid;
}