body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    font-size: 24px;
    width: 50px;
    margin: 5px;
    padding: 10px;
    border-radius: 12px;
}

#calculator {
    display: flex;
    flex-direction: column;
}

#display {
    border-style: solid;
    min-width: 100px;
    min-height: 20px;
    padding: 4px;
}

#rowOne,
#rowTwo,
#rowThree,
#rowFour,
#rowFive {
    display: flex;
    justify-content: space-between;
}

#equal {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

#decimalBtn {
    color: red;
    background-color: red;
}

#equal {
    color: white;
    background-color: rgba(0, 0, 0, .9);
}

.opp {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255, 100, 23, 0.7);
}

.num {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.5);
}